import ObjectMapper
{{#models}}
class {{{modelName}}} : {{# isSubclass }}Response{{/ isSubclass }}{{^ isSubclass }}Mappable{{/ isSubclass }} {
	
	{{#properties}}var {{name}} = {{{defaultValue}}}
	{{/properties}}
	{{# isSubclass }}override func mapping(map: Map) {

        super.mapping(map: map){{/ isSubclass }}
    {{^ isSubclass }}required init?(map: Map) {
        mapping(map: map)
    }
    
    func mapping(map: Map) {
    {{/ isSubclass }}
        {{#properties}}{{name}} <- map["{{mapperKey}}"]
		{{/properties}}
    }
} 
{{/models}}
